<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-digital-trend.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">


    <style>
        #input-fields2{
            align-items: center;
            width: 500px;
            min-width: fit-content;
        }
        #details-section{
            min-width: fit-content;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('landing_page') }}">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" id="logo">
              
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Studio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link smoothScroll">Our Works</a>
                    </li>
                    <li>
                         <a href="{{ url_for('student_portal') }}">
                              <button class="button-30" role="button">Student Portal</button>
                          </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="registration-wrapper">

    <div class="registration-container">    

        <form action="/login" method="post" class="registration-form">
            <div class="form-section login-details">
                <div class="details-section">
                    <span class="section-title">Login</span>
        
                    <div class="input-fields2">
                        <div class="input-field">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        </div>
        
                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                    </div>
        
                    <button type="submit" class="nextBtn">
                        <span class="btnText">Login</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    </div>
 
</body>
</html>